<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-xl-2 col-xl-8">
          <div class="text-center pt-3 pb-2">
            <img style="max-width: 250px;max-height: 130px;" class="logo-main-img" src="https://res.cloudinary.com/dlopjt9le/image/upload/v1651125956/qyg3guvxtscgzksvf8qv.png"></div>
          <div class="font-16 text-center">Let's get your all setup, so you can begin to start using our services</div>
          <div class="card">
            <div class="p-3">
  
              <mat-tab-group 
                mat-align-tabs="start"
                [(selectedIndex)]="_defaultTabIndex">

                <mat-tab label="Contact" [disabled]="this._tabLists?.[0]?.['disable']">

                  <app-bussiness-contact-detail-page
                    *ngIf="_defaultTabIndex == 0"
                    [submitData]="submitData"
                    (contactSubmitData)="getContactSubmittedData($event)">
                  </app-bussiness-contact-detail-page>

                </mat-tab>

                <mat-tab label="Bussiness" [disabled]="this._tabLists?.[1]?.['disable']">

                  <app-bussiness-details-page
                    *ngIf="_defaultTabIndex == 1"
                    [submitData]="submitData"
                    (bussinessSubmitData)="getBussinessSubmittedData($event)"
                    (bussinessPreviousData)="bussinessPrevious()"
                    (bussinessData)="bussinessSkip()">
                  </app-bussiness-details-page>

                </mat-tab>

                <mat-tab label="Bussiness Type" [disabled]="this._tabLists?.[2]?.['disable']">

                  <app-bussiness-type-page
                    *ngIf="_defaultTabIndex == 2"
                    [submitData]="submitData"
                    (bussinessTypeSubmitData)="getBussinessTypeSubmittedData($event)"
                    (bussinessTypePreviousData)="bussinessTypePrevious()"
                    (bussinessTypeSkipData)="bussinessTypeSkip()">
                  </app-bussiness-type-page>

                </mat-tab>

                <mat-tab label="Services" [disabled]="this._tabLists?.[3]?.['disable']">

                  <app-product-service-facility-page
                    *ngIf="_defaultTabIndex == 3"
                    [submitData]="submitData"
                    (productServiceFacilitySubmitData)="getProductServiceFacilitySubmittedData($event)"
                    (productServiceFacilityPreviousData)="productServiceFacilityPrevious()"
                    (productServiceFacilitySkipData)="productServiceFacilitySkip()">
                  </app-product-service-facility-page>
                </mat-tab>

                <mat-tab label="Membership" [disabled]="this._tabLists?.[4]?.['disable']">

                  <app-membership-package-page
                    *ngIf="_defaultTabIndex == 4"
                    [submitData]="submitData"
                    (membershipSubmitData)="getMembershipSubmittedData($event)"
                    (membershipPreviousData)="membershipPrevious()"
                    (membershipSkipData)="membershipSkip()">
                  </app-membership-package-page>

                </mat-tab>

                <mat-tab label="Staffs" [disabled]="this._tabLists?.[5]?.['disable']">
                  <app-bussiness-staffs-page
                    *ngIf="_defaultTabIndex == 5"
                    [submitData]="submitData"
                    [designationLists]="designationLists"
                    (staffsSubmitData)="getStaffsSubmittedData($event)"
                    (staffsPreviousData)="staffsPrevious()"
                    (staffsSkipData)="staffsSkip()">
                  </app-bussiness-staffs-page>
                </mat-tab>

                <mat-tab label="Review" [disabled]="this._tabLists?.[6]?.['disable']">
                  <app-bussiness-review-page
                    *ngIf="_defaultTabIndex == 6"
                    [submitData]="submitData"
                    [designationLists]="designationLists"
                    (reviewSubmitData)="getReviewSubmittedData($event)"
                    (reviewPreviousData)="reviewPrevious()">
                  </app-bussiness-review-page>
                </mat-tab>

                <mat-progress-bar> </mat-progress-bar>

              </mat-tab-group>
  
            </div> 
          </div>
          <div class="d-md-flex pb-3">
            <div class="flex-md-grow-1 pb-md-0 pb-3 text-md-left text-center">© 99 Fix all Services. Power by <a href="https://www.membroz.com/" target="_blank">www.membroz.com</a></div>
            <div class="ml-3 d-flex justify-content-center ">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link py-0 text-capitalize" href="#">Support</a>
                </li>
                <li class="nav-item dropup">
                  <a class="nav-link dropdown-toggle py-0 text-capitalize" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    English
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Spanish</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>