<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-2 col-xl-8">
                <div class="text-center pt-3 pb-2"><img style="max-width: 250px;max-height: 130px;"
                        class="logo-main-img"
                        [src]="branchdetails?.branchlogo">
                </div>
                <div class="font-16 text-center">Let's get your all setup, so you can begin to start using our services
                </div>
            <div class="card">
                <div class="p-3">
                    <mat-tab-group [(selectedIndex)]="index">
                        <mat-tab [label]="'Member'"> 
                            <app-member-profile (onNext)="onNextSuccessMember($event)" *ngIf="this.visitTabs.includes(0)"></app-member-profile>
                        </mat-tab>
                        <mat-tab [label]="'Package'" [disabled]="!this.visitTabs.includes(1)">
                            <app-packages [branchdetails]="branchdetails"  (onPrevious)="onPreviousIndex($event)" (onNextPackage)="onNextPackage($event)"  *ngIf="this.visitTabs.includes(1)"></app-packages>
                        </mat-tab>
                        
                        <mat-tab [label]="'Personal Details'" [disabled]="!this.visitTabs.includes(2)">
                            <app-personal-details  [branchdetails]="this.branchdetails" [memberdetails]="this.memberdetails" (onPrevious)="onPreviousIndex($event)"  (onNextPD)="onNextPd($event)" *ngIf="this.visitTabs.includes(2)"></app-personal-details>
                        </mat-tab>
                        <mat-tab [label]="'PARQ Form'" [disabled]="!this.visitTabs.includes(3)">
                            <app-parq-form (onPrevious)="onPreviousIndex($event)" (onNextPQF)="onNextPF($event)"  *ngIf="this.visitTabs.includes(3)"></app-parq-form>
                        </mat-tab>
                        <mat-tab [label]="'Card Details'" [disabled]="!this.visitTabs.includes(4)">
                            <app-credit-card-details [memberdetails]="this.memberdetails" (onPrevious)="onPreviousIndex($event)" (onNextCard)="onNextCard($event)"  *ngIf="this.visitTabs.includes(4)"></app-credit-card-details> 
                        </mat-tab> 

                        <mat-tab [label]="'Review'"  [disabled]="!this.visitTabs.includes(5)">
                            <app-review-details [memberdetails]="this.memberdetails" [packagedetails]="packagedetails"  [carddetails]="this.carddetails"  (onPrevious)="onPreviousIndex($event)" (onNextCard)="onSaveSuccessReview($event)"  >
                                <button Btn class="btn btn-primary ml-2" type="button" (click)="onSubmit()" [disabled]="disableBtn" >
                                    Submit
                                    <i class="material-icons">done</i>
                                </button>
                            </app-review-details> 
                        </mat-tab>
                    </mat-tab-group>  
                </div>
            </div>
         </div>
        </div>
    </div>
</div>